<ion-content [fullscreen]="true">
  <div class="header">
    <ion-header>
        <h1>Hi, {{username}}!</h1>
    </ion-header>
  </div>
  

  <div id="container">
    <ion-card id="card">
      <ion-card-header>
        <ion-card-title style="text-align: center;">HOLIDAY LISTS IN AMERICA</ion-card-title>
      </ion-card-header>
    </ion-card>

    <ion-list [inset]="true">
      <ion-item *ngFor="let holiday of holidays">
        <ion-label>{{holiday.name}}</ion-label>
      </ion-item>  
    </ion-list>    
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button>
        <ion-icon name="logo-facebook"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="logo-twitter"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="logo-instagram"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
  <!-- <div class="logout">
    <ion-button (click)="logout()">logout</ion-button>
  </div> -->
</ion-content>
