<ion-content [fullscreen]="true">
 

   <div class="input">
    <h1>Login</h1>
        <ion-input
        class="custom"
        [(ngModel)]="username"
        label="Username"
        labelPlacement="floating"
        type="text"
        placeholder="Your username!"
        fill="outline"></ion-input>
      
      <ion-input
        class="custom"
        label="Password"
        [(ngModel)]="password"
        labelPlacement="floating"
        type="password"
        placeholder="Your password!"
        fill="outline">
      </ion-input>

        <ion-button shape="round" (click)="login()">
          Login
          <ion-icon name="enter-outline"></ion-icon>
        </ion-button>
    </div>
</ion-content>
