.input{
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: auto;
    gap: 1rem;
    transform: translateY(60%);
}
#container {
    margin: 10px;
    display: flex;
    justify-content: center;
    transform: translateY(400%);
  }
.header{
    margin-top: 40px;
}

ion-button {
    --background: #6F58C9;
    --background-hover: #9ce0be;
    --background-activated: #88f4be;
    --background-focused: #88f4be;
  
    --color: #BDEDE0;
  
    --border-radius: 0;
    --border-color: #000;
    --border-style: solid;
    --border-width: 1px;
  
    --box-shadow: 0 2px 6px 0 rgb(0, 0, 0, 0.25);
  
    --ripple-color: rgba(13, 0, 251, 0.642);
  
    --padding-top: 10px;
    --padding-bottom: 10px;
  }

  ion-input.custom {
    --background: #7c7c7c;
    --color: #ffffff;
    --placeholder-color: #ffffff;
    --placeholder-opacity: 0.8;
  }


