<ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title class= "top">
        Virtuoso Labs
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content [fullscreen]="true">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title style="text-align: center;">Virtuoso Labs</ion-title>
      </ion-toolbar>
    </ion-header>
  
    <div id="container">
      <p style="text-align: center;">Dela Cruz, Clarence Selwyn T. <br> Singson, Ken Timothy <br> Luna, Viemon</p>
    </div>
  </ion-content>