<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Second-page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">ACTIVITY #3</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Second-page<br></strong> <!--break to bring down buttons-->
    <ion-button href="another">Go By Link</ion-button> <!--button by link-->
    <ion-button (click)="goByEvent()">Go By Event</ion-button><br> <!--button by event: please refer to goByEvent(); on another.page.ts-->
    <ion-button (click)="goWithAuthorization()">Authenticate</ion-button> <!--button by event: please refer to goWithAuthorization(); on another.page.ts-->
  </div>
</ion-content>

